<div class="row">
  <div class="col-12">
    <h1>Agendamiento Masivo</h1>
    <p>*Los equipos que no diligencie, no se tendran en cuenta</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <mat-card>
      <form #appointmentForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="container">

          <div class="row">

            <div class="col-6">
              <mat-form-field appearance="outline">
                <mat-label>Tipo de Mantenimiento</mat-label>
                <mat-select name="tpMaintenance" tpMaintenance="ngModel" [(ngModel)]="appointment.tpMaintenance" required>
                  <mat-option>Seleccionar</mat-option>
                  <mat-option value="Hardware">Hardware</mat-option>
                  <mat-option value="Software">Software</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field appearance="outline">
                <mat-label>Soporté Asignado</mat-label>
                <mat-select name="support_tec" support_tec="ngModel" [(ngModel)]="appointment.support_tec" required>
                  <mat-option>Seleccionar</mat-option>
                  <mat-option value="Camilo Pinzón">Camilo Pinzón</mat-option>
                  <mat-option value="Sebastian Rojas">Sebastian Rojas</mat-option>
                  <mat-option value="Mauricio Ospina">Mauricio Ospina</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>

          <div class="row">
            <cdk-virtual-scroll-viewport class="example-viewport" itemSize="60">
              <dl class="example-dl row p-4">
                <ng-container #host *cdkVirtualFor="let host of hosts; let i = index">
                  <div class="col-4">
                    <mat-card class="m-1 border">
  
                      <div class="my-1">
                        <span class="text-primary">{{ host.name }}</span>
                        {{ host.employee }}
                      </div>
  
                      <mat-form-field appearance="outline" (change)="dataAppointmentGroup($event, i, host, date)">
                        <mat-label>Fecha Agenamiento</mat-label>
                        <input matInput type="date" #date>
                      </mat-form-field>
  
                    </mat-card>
                  </div>
                </ng-container>
              </dl>
            </cdk-virtual-scroll-viewport>
          </div>

        </div>

        <div class="row mt-3">
          <div class="col-12 text-center">
            <button mat-raised-button type="button" class="mx-3" [routerLink]="['/calendar']">Cancelar</button>
            <button mat-raised-button type="submit" class="mx-3 " color="primary" class="mt-3">Agendar</button>
          </div>
        </div>

      </form>
    </mat-card>
  </div>
</div>