<div class="row">
    <div class="col-12">
        <div class="text-center shadow border">
            <img class=" w-50" src="/assets/images/errors/error404.svg" alt="error404.svg">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="text-center my-4">

            <span class="fs-5">¡La página que busca no está disponible en estos momentos...o talvez no exista!</span>
            <br class="my-3">

            <button mat-raised-button [routerLink]="['/home']">
                <span>Volver</span>
                <mat-icon>home</mat-icon>
            </button>

        </div>
    </div>
</div>