
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-2">
        <button mat-raised-button class="m-1 bg-grad shadow border" [routerLink]="['/config/users']">
            <div class="row align-items-center p-3">
                <mat-icon>account_circle</mat-icon>
            </div>
            <span class="d-block">Usuarios</span>
        </button>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-2">
        <button mat-raised-button class="m-1 bg-grad shadow border" [routerLink]="['/config/employees']">
            <div class="row align-items-center p-3">
                <mat-icon>badge</mat-icon>
            </div>
            <span class="d-block">Empleados</span>
        </button>
    </div>
</div>