<div class="row">

    <div class="col-sm-8 col-lg-10" >
        <mat-accordion class="headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Buscar Cita
                    </mat-panel-title>

                    <mat-panel-description>
                        <span>&nbsp;</span>
                        <mat-icon>search</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <form>
                    <div class="row">

                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>Fecha Inicial</mat-label>
                                <input matInput type="date">
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>Empleado</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre Equipo</mat-label>
                                <input matInput type="text">
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>Tipo de Mantenimiento</mat-label>
                                <mat-select>
                                    <mat-option>Selecionar</mat-option>
                                    <mat-option value="Software">Software</mat-option>
                                    <mat-option value="Hardware">Hardware</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <button mat-raised-button class="m-3" color="primary">
                                <mat-icon>search</mat-icon>
                            </button>
                        </div>

                    </div>
                </form>

            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="col-sm-4 col-lg-2">
        <div class="d-flex justify-content-center my-2">
            <button mat-raised-button class="mx-2" color="primary" [routerLink]="['/calendar/maintenances']">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button mat-raised-button class="mx-2" color="warn" [routerLink]="['/home']">
                <mat-icon>home</mat-icon>
            </button>
        </div>
    </div>

</div>

<hr>

<div class="row">

    <div class="col-sm-12 col-lg-9">
        <full-calendar [options]="calendarOptions" class="text-center"></full-calendar>
    </div>

    <div class="col-sm-12 col-lg-3">
        <app-appointments [appointments]="appointments"></app-appointments>
    </div>

</div>