<mat-nav-list role="navigation">

    <mat-list-item role="listitem" [routerLink]="['/home']" routerLinkActive="active">
        Dashboard
        <span class="spacer"></span>
        <mat-icon>insights</mat-icon>
    </mat-list-item>

    <mat-list-item role="listitem" [routerLink]="['/calendar']" routerLinkActive="active">
        Calendario
        <span class="spacer"></span>
        <mat-icon>today</mat-icon>
    </mat-list-item>

    <mat-list-item role="listitem" [routerLink]="['/devices']" routerLinkActive="active">
        Inventario
        <span class="spacer"></span>
        <mat-icon>store</mat-icon>
    </mat-list-item>

    <mat-list-item role="listitem" [routerLink]="['/config']" routerLinkActive="active">
        configuración
        <span class="spacer"></span>
        <mat-icon>settings</mat-icon>
    </mat-list-item>

</mat-nav-list>