@use '@angular/material' as mat;

@include mat.core();
@include mat.strong-focus-indicators((
  border-style: dotted,
  border-width: 4px,
  border-radius: 2px,
));

/* Paleta Blue */
/* $my-primary: mat.define-palette(mat.$blue-palette, 500);
$my-accent: mat.define-palette(mat.$blue-palette, 200);
$my-warn: mat.define-palette(mat.$red-palette, 900); */ 

$my-primary: mat.define-palette(mat.$cyan-palette, 900);
$my-accent: mat.define-palette(mat.$blue-grey-palette, 500);
$my-warn: mat.define-palette(mat.$red-palette, 900);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 )
));

@include mat.all-component-themes($my-theme);