<div *ngIf="userlogged">

  <div class="row">
    <div class="col-12">
      <h1>BonemaTI-WebApp</h1>
      <h2>Dashboard</h2>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <ngx-charts-bar-vertical [view]="view" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
          [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
        </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-12 col-lg-4">
      <mat-card class="rounded">
        <a class="fst-italic" [routerLink]="['/routePath']" routerLinkActive="active">Cant. Equipos</a>
        <div class="text-center my-4">
          <span class="fs-2 fw-bold">{{ totalHosts }}</span>
        </div>
      </mat-card>
    </div>

    <div class="col-sm-12 col-lg-4">
      <mat-card class="border rounded">
        <a class="fst-italic" [routerLink]="['/routePath']" routerLinkActive="active">
          Mantenimientos del Mes
        </a>
        <div class="text-center my-4">
          <span class="fs-2 fw-bold">2 / 35</span>
        </div>
      </mat-card>
    </div>

    <div class="col-sm-12 col-lg-4">
      <mat-card class="border rounded">
        <a class="fst-italic" [routerLink]="['/routePath']" routerLinkActive="active">Cant. Empleados</a>
        <div class="text-center my-4">
          <span class="fs-2 fw-bold">{{ totalEmployees }}</span>
        </div>
      </mat-card>
    </div>

  </div>

</div>