<div class="row">
  <div class="col-12">
    <h1>BonemaTI-WebApp</h1>
  </div>
</div>

<div class="row my-4">

  <div class="col-9">
    <ngx-charts-bar-vertical [view]="view" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
      [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </div>

  <div class="col-3">

    <h2>Controles</h2>

    <mat-form-field appearance="outline">
      <mat-label>Cambie el grafico</mat-label>
      <mat-select>
        <mat-option></mat-option>
        <mat-option value="bar-chart">Grafico de Barras</mat-option>
        <mat-option value="donut-chat">Grafico de Torta</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

</div>

<div class="row">

  <div class="col-3">
    <mat-card class="border rounded">
      <a class="fst-italic" [routerLink]="['/routePath']" routerLinkActive="active">Total Equipos</a> 
      <div class="text-center my-4">
        <span class="fs-2 fw-bold">35</span>
      </div>
    </mat-card>
  </div>

  <div class="col-3">
    <mat-card class="border rounded">
      <a class="fst-italic" [routerLink]="['/routePath']" routerLinkActive="active">
          Mantenimientos Ejecutados
      </a> 
      <div class="text-center my-4">
        <span class="fs-2 fw-bold">2 / 35</span>
      </div>
    </mat-card>
  </div>

  <div class="col-3">
    <mat-card class="border rounded">
      <a class="fst-italic" [routerLink]="['/routePath']" routerLinkActive="active">Total Equipos</a> 
      <div class="text-center my-4">
        <span class="fs-2 fw-bold">2 / 5</span>
      </div>
    </mat-card>
  </div>

  <div class="col-3">
    <mat-card class="border rounded">
      <a class="fst-italic" [routerLink]="['/routePath']" routerLinkActive="active">Total Equipos</a> 
      <div class="text-center my-4">
        <span class="fs-2 fw-bold">2 / 5</span>
      </div>
    </mat-card>
  </div>

</div>