<div class="row">
    <div class="col">
        <h1>{{ page_title}}</h1>
    </div>
</div>

<div class="row">

    <form #userForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="col">
            <mat-form-field appearance="outline">
                <mat-label>name</mat-label>
                <input matInput type="text" name="name" #name="ngModel" [(ngModel)]="user.name">
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field appearance="outline">
                <mat-label>email</mat-label>
                <input matInput type="text" name="email" #email="ngModel" [(ngModel)]="user.email">
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field appearance="outline">
                <mat-label>username</mat-label>
                <input matInput type="text" name="username" #username="ngModel" [(ngModel)]="user.username">
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field appearance="outline">
                <mat-label>password</mat-label>
                <input matInput type="text" name="password" #password="ngModel" [(ngModel)]="user.password">
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field appearance="outline">
                <mat-label>role</mat-label>
                <input matInput type="text" name="role" #role="ngModel" [(ngModel)]="user.role">
            </mat-form-field>
        </div>

        <div>
            <button mat-button type="submit">Enviar</button>
        </div>

    </form>
</div>